<!--HTML документ-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8" />
    
    <link rel="stylesheet" href="css/style.css">

    <title>FREE CHATS</title>

  </head>
  <body>
    <header>
      <!-- <p>
        Общий чат
      </p> -->
    </header>

    <section>
      <div align="center" >
        <textarea id = "output_window"  readonly>
        </textarea>
      </div>

      <div align="center" class = "input_window">
        <textarea 
          id = "input_window"
          onkeypress="if(event.keyCode==10||(event.ctrlKey && event.keyCode==13)){send()} else if(event.keyCode==46){clear()};"
          autofocus>
        </textarea>
      </div>

    </section>

<!--     <footer>
      "ctrl + enter" - отправить сообщение
    </footer>
 -->
    
    <script src="lib.js"></script>

  </body>
</html>